<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Rendered using the handle bar template</h1>
    <div style="background-color:aqua">
        <h2>Comapany Name: {{companyDetails.companyName}}</h2>
        <h3>Location: {{companyDetails.location}} </h3>
    </div>
</body>
</html>